<h2>Diarias</h2>
<mat-tab-group mat-stretch-tabs [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChange($event)" class="example-stretched-tabs mat-elevation-z4" backgroundColor="primary" color="primary">

  <mat-tab label="Cámara del brujo">

      <p> </p>
      <a href="https://wiki.guildwars2.com/wiki/Wizard%27s_Vault/Easy_objectives" target="_blank" rel="noopener noreferrer" style="text-decoration: none">
        Easy objectives (wiki link)
      </a>
      &nbsp;
      <a type="color" value="C" [ngStyle]="{'background-color':'#237507'}">Claimed</a>
      <a type="color" value="DNC" [ngStyle]="{'background-color':'#E67E22'}">Done but not claimed</a>
      <a type="color" value="U" [ngStyle]="{'background-color':'#8E2610'}">Undone</a>
      <p> </p>

    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" backgroundColor="accent" color="primary">

      <mat-tab label="Daily">
        <h4> *You must login first into the game to refresh daily wizard tasks.</h4>

        <div class="completadas" *ngIf="!loadingDailyWizard && dailyWizardVault.objectives.length > 0; else vacioDailyWizard">
          <a [ngStyle]="{'background-color': dailyWizardVault.meta_reward_claimed === true ? '#237507' : dailyWizardVault.meta_progress_current >= dailyWizardVault.meta_progress_complete ? '#E67E22' : '#8E2610'}">
            Daily Reward: {{dailyWizardVault.meta_progress_current}} / {{dailyWizardVault.meta_progress_complete}}
            <p></p>
            Claimed: {{dailyWizardVault.meta_reward_claimed}} ({{dailyWizardVault.meta_reward_astral}})
            <p></p>
            Refresh (F5) this page to see changes based on API values.
          </a>
        </div>

        <div class="daily-menu" *ngIf="!loadingDailyWizard && dailyWizardVault.objectives.length > 0; else vacioDailyWizard">
          <a  *ngFor="let dailyWizard of dailyWizardVault.objectives; let i = index" [ngStyle]="{'background-color': dailyWizard.claimed === true ? '#237507' : dailyWizard.progress_current >= dailyWizard.progress_complete ? '#E67E22' : '#8E2610'}">
            <img mat-card-image src="https://wiki.guildwars2.com/images/a/a7/Astral_Acclaim.png">
            <p></p>
            id = {{dailyWizard.id}}
            <p></p>
            {{dailyWizard.track}}
            <p></p>
            {{dailyWizard.title}}
            <p></p>
            Progress: {{dailyWizard.progress_current}} / {{dailyWizard.progress_complete}}
            <p></p>
            Claimed: {{dailyWizard.claimed}} ({{dailyWizard.acclaim}})
          </a>
        </div>
        <ng-template #vacioDailyWizard>
          <a>
            <img mat-card-image src="https://static.staticwars.com/quaggans/404.jpg">
            Empty response from API.
          </a>
        </ng-template>
      </mat-tab>

      <mat-tab label="Weekly">

        <div class="completadas" *ngIf="!loadingWeeklyWizard && weeklyWizardVault.objectives.length > 0; else vacioWeeklyWizard">
          <a [ngStyle]="{'background-color': weeklyWizardVault.meta_reward_claimed === true ? '#237507' : weeklyWizardVault.meta_progress_current >= weeklyWizardVault.meta_progress_complete ? '#E67E22' : '#8E2610'}">
            Weekly Reward: {{weeklyWizardVault.meta_progress_current}} / {{weeklyWizardVault.meta_progress_complete}}
            <p></p>
            Claimed: {{weeklyWizardVault.meta_reward_claimed}} ({{weeklyWizardVault.meta_reward_astral}})
            <p></p>
            Refresh (F5) this page to see changes based on API values.
          </a>
        </div>

        <div class="daily-menu" *ngIf="!loadingWeeklyWizard && weeklyWizardVault.objectives.length > 0; else vacioWeeklyWizard">
          <a  *ngFor="let weeklyWizard of weeklyWizardVault.objectives; let i = index" [ngStyle]="{'background-color': weeklyWizard.claimed === true ? '#237507' : weeklyWizard.progress_current >= weeklyWizard.progress_complete ? '#E67E22' : '#8E2610'}">
            <img mat-card-image src="https://wiki.guildwars2.com/images/a/a7/Astral_Acclaim.png">
            <p></p>
            id = {{weeklyWizard.id}}
            <p></p>
            {{weeklyWizard.track}}
            <p></p>
            {{weeklyWizard.title}}
            <p></p>
            Progress: {{weeklyWizard.progress_current}} / {{weeklyWizard.progress_complete}}
            <p></p>
            Claimed: {{weeklyWizard.claimed}} ({{weeklyWizard.acclaim}})
          </a>
        </div>
        <ng-template #vacioWeeklyWizard>
          <a>
            <img mat-card-image src="https://static.staticwars.com/quaggans/404.jpg">
            Empty response from API.
          </a>
        </ng-template>
      </mat-tab>

      <mat-tab label="Special">
        <p> </p>
        <div class="daily-menu" *ngIf="!loadingSpecialWizard && specialWizardVault.objectives.length > 0; else vacioSpecialWizard">
          <a  *ngFor="let specialWizard of specialWizardVault.objectives; let i = index" [ngStyle]="{'background-color': specialWizard.claimed === true ? '#237507' : specialWizard.progress_current >= specialWizard.progress_complete ? '#E67E22' : '#8E2610'}">
            <img mat-card-image src="https://wiki.guildwars2.com/images/a/a7/Astral_Acclaim.png">
            <p></p>
            id = {{specialWizard.id}}
            <p></p>
            {{specialWizard.track}}
            <p></p>
            {{specialWizard.title}}
            <p></p>
            Progress: {{specialWizard.progress_current}} / {{specialWizard.progress_complete}}
            <p></p>
            Claimed: {{specialWizard.claimed}} ({{specialWizard.acclaim}})
          </a>
        </div>
        <ng-template #vacioSpecialWizard>
          <a>
            <img mat-card-image src="https://static.staticwars.com/quaggans/404.jpg">
            Empty response from API.
          </a>
        </ng-template>
      </mat-tab>

    </mat-tab-group>

  </mat-tab>

  <mat-tab label="Fractales">
    <button mat-raised-button color="accent" [cdkCopyToClipboard]="fractalesRecDailyString">Copiar Diarios y Recomendados</button>
    <mat-accordion>
      <mat-expansion-panel  (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lista de fractales
          </mat-panel-title>
          <mat-panel-description>
            {{panelOpenState ? 'Contraer' : 'Desplegar'}}
          </mat-panel-description>
        </mat-expansion-panel-header>

          <div>
            <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px;">
              <mat-label>Filter {{filter.name}}</mat-label>
              <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
                (change)="filterChange(filter,$event)">
                <option value="">-- Select {{filter.name}} --</option>
                <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
              </select>
            </mat-form-field>
            &nbsp;
            <button mat-flat-button color="warn" (click)="resetFilters()">Reset</button>
          </div>

          <table mat-table [dataSource]="dataSource" matSort matSortActive="level" matSortDirection="asc" class="mat-elevation-z8">            
            <!-- level Column -->
            <ng-container matColumnDef="level">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Level </th>
              <td mat-cell *matCellDef="let element"> {{element.level}} </td>
            </ng-container>

            <!-- tier Column -->
            <ng-container matColumnDef="tier">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tier </th>
              <td mat-cell *matCellDef="let element"> {{element.tier}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- NameEs Column -->
            <ng-container matColumnDef="nameEs">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre ES </th>
              <td mat-cell *matCellDef="let element"> {{element.nameEs}} </td>
            </ng-container>
          
            <!-- ar Column -->
            <ng-container matColumnDef="ar">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> AR </th>
              <td mat-cell *matCellDef="let element"> {{element.ar}} </td>
            </ng-container>

            <!-- idDaily Column -->
            <ng-container matColumnDef="idDaily">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID Daily </th>
              <td mat-cell *matCellDef="let element"> {{element.idDaily}} </td>
            </ng-container>

            <!-- idRec Column -->
            <ng-container matColumnDef="idRec">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID Rec </th>
              <td mat-cell *matCellDef="let element"> {{element.idRec}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel  (opened)="panelOpenStateCm = true"
                            (closed)="panelOpenStateCm = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lista de fractales CM
          </mat-panel-title>
          <mat-panel-description>
            {{panelOpenState ? 'Contraer' : 'Desplegar'}}
          </mat-panel-description>
        </mat-expansion-panel-header>

          <table mat-table #sort4="matSort" [dataSource]="dataSourceCm" matSort matSortActive="level" matSortDirection="desc" class="mat-elevation-z8">            
            <!-- level Column -->
            <ng-container matColumnDef="level">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Level </th>
              <td mat-cell *matCellDef="let element"> {{element.level}} </td>
            </ng-container>

            <!-- tier Column -->
            <ng-container matColumnDef="tier">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tier </th>
              <td mat-cell *matCellDef="let element"> {{element.tier}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- NameEs Column -->
            <ng-container matColumnDef="nameEs">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre ES </th>
              <td mat-cell *matCellDef="let element"> {{element.nameEs}} </td>
            </ng-container>
          
            <!-- ar Column -->
            <ng-container matColumnDef="ar">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> AR </th>
              <td mat-cell *matCellDef="let element"> {{element.ar}} </td>
            </ng-container>

            <!-- inestabilidad1 Column -->
            <ng-container matColumnDef="inestab1">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Inestab_1  </th>
              <td mat-cell *matCellDef="let element" [ngClass]="{'red': element.inestab1 == 'Recompensa bien merecida'}"> {{element.inestab1}} </td>
            </ng-container>

            <!-- inestabilidad2 Column -->
            <ng-container matColumnDef="inestab2">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Inestab_2  </th>
              <td mat-cell *matCellDef="let element" [ngClass]="{'red': element.inestab2 == 'Recompensa bien merecida'}"> {{element.inestab2}} </td>
            </ng-container>

            <!-- inestabilidad3 Column -->
            <ng-container matColumnDef="inestab3">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Inestab_3  </th>
              <td mat-cell *matCellDef="let element" [ngClass]="{'red': element.inestab3 == 'Recompensa bien merecida'}"> {{element.inestab3}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumnsCm; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsCm;"></tr>

          </table>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel  (opened)="panelOpenStateR = true"
                            (closed)="panelOpenStateR = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lista de fractales recomendados
          </mat-panel-title>
          <mat-panel-description>
            {{panelOpenStateR ? 'Contraer' : 'Desplegar'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
          <table mat-table #sort2="matSort" [dataSource]="dataSourceRec" matSort matSortActive="level" matSortDirection="desc" matSort class="mat-elevation-z8">            
            <!-- level Column -->
            <ng-container matColumnDef="level">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Level </th>
              <td mat-cell *matCellDef="let element"> {{element.level}} </td>
            </ng-container>

            <!-- tier Column -->
            <ng-container matColumnDef="tier">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tier </th>
              <td mat-cell *matCellDef="let element"> {{element.tier}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- NameEs Column -->
            <ng-container matColumnDef="nameEs">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre ES </th>
              <td mat-cell *matCellDef="let element"> {{element.nameEs}} </td>
            </ng-container>
          
            <!-- ar Column -->
            <ng-container matColumnDef="ar">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> AR </th>
              <td mat-cell *matCellDef="let element"> {{element.ar}} </td>
            </ng-container>

            <!-- idDaily Column -->
            <ng-container matColumnDef="idDaily">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID Daily </th>
              <td mat-cell *matCellDef="let element"> {{element.idDaily}} </td>
            </ng-container>

            <!-- idRec Column -->
            <ng-container matColumnDef="idRec">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID Rec </th>
              <td mat-cell *matCellDef="let element"> {{element.idRec}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel  (opened)="panelOpenStateD = true"
                            (closed)="panelOpenStateD = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lista de fractales diarios
          </mat-panel-title>
          <mat-panel-description>
            {{panelOpenStateD ? 'Contraer' : 'Desplegar'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
          <table mat-table #sort3="matSort" [dataSource]="dataSourceDaily" matSort matSortActive="level" matSortDirection="desc" matSort class="mat-elevation-z8">            
            <!-- level Column -->
            <ng-container matColumnDef="level">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Level </th>
              <td mat-cell *matCellDef="let element"> {{element.level}} </td>
            </ng-container>

            <!-- tier Column -->
            <ng-container matColumnDef="tier">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tier </th>
              <td mat-cell *matCellDef="let element"> {{element.tier}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- NameEs Column -->
            <ng-container matColumnDef="nameEs">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre ES </th>
              <td mat-cell *matCellDef="let element"> {{element.nameEs}} </td>
            </ng-container>
          
            <!-- ar Column -->
            <ng-container matColumnDef="ar">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> AR </th>
              <td mat-cell *matCellDef="let element"> {{element.ar}} </td>
            </ng-container>

            <!-- idDaily Column -->
            <ng-container matColumnDef="idDaily">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID Daily </th>
              <td mat-cell *matCellDef="let element"> {{element.idDaily}} </td>
            </ng-container>

            <!-- idRec Column -->
            <ng-container matColumnDef="idRec">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID Rec </th>
              <td mat-cell *matCellDef="let element"> {{element.idRec}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'green': row.tier =='T4'}"></tr>
          </table>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="daily-menu" *ngIf="!loading">
      <a  *ngFor="let fractal of dailyInfoF.fractals; let i = index">
        <img mat-card-image-f src={{fractal.icon}}>
        <p></p>
        id = {{fractal.id}}
        <p></p>
        {{fractal.name}}
      </a>
    </div>
  </mat-tab>

  <mat-tab label="Más diarias">
    <div class="daily-menu">
      <a>
        <h2>Pact Supply</h2>
        <!-- <mat-label for="clipboard-example-textarea">Pact Supply</mat-label> -->
        <!-- <textarea id="clipboard-example-textarea" cols="45" rows="2" [(ngModel)]="pactSupply[0]"></textarea> -->
        <textarea id="clipboard-example-textarea" 
                  cdkTextareaAutosize 
                  cdkAutosizeMinRows="6" 
                  cdkAutosizeMaxRows="10" 
                  [(ngModel)]="pactSupply[0]">
        </textarea>
        <button mat-raised-button color="accent" [cdkCopyToClipboard]="pactSupply[0]">Copiar</button>
        <div [innerText]='pactSupplyUpdate'></div>
        <p></p>
        <div>
          <a href="https://wiki.guildwars2.com/wiki/Map_bonus_reward#Central_Tyria_reward_track_rotation" target="_blank" rel="noopener noreferrer" style="text-decoration: none">
            <button  mat-button class="boton" title="Best week is 8 (updates every friday)" [ngClass]="{'green': mapBonusRewardweekNumber == 8}">Map bonus reward, current week is {{mapBonusRewardweekNumber}}</button>
          </a>
          <p></p>
          <a href="https://fast.farming-community.eu/conversions/karma" target="_blank" rel="noopener noreferrer" style="text-decoration: none">
            <button  mat-button class="boton" title="Gw2 Fast Farming Data">Fast Farming</button>
          </a>
        </div>
      </a>
      <a>
        <h2>Token Supply</h2>
        <div class="waypoint">
          <!-- <div class="wp-icon" style="background-image: url(../../../assets/img/wp-icon.png)">
          </div> -->
          <div [innerHtml]='tokenSupply[0][0]'></div>
          <button mat-raised-button color="accent" [cdkCopyToClipboard]="tokenSupply[1][0]">Copiar</button>
        </div>
      </a>
      <a>
        <h2>Crafting</h2>
        <p></p>
        <mat-card class="result" *ngFor="let dailyCrafts of dailyCrafting; let i = index">
          <mat-card-content>
            <section class="example-section">
              <mat-checkbox
                  class="example-margin"
                  [(ngModel)]="dailyIdsCraftChecked[i]"
                  [(indeterminate)]="indeterminate"
                  [labelPosition]="labelPosition"
                  [class.mat-checkbox-disabled]="false"
                  disabled>
                  {{dailyCrafts}} ({{materials[i]}})
              </mat-checkbox>
            </section>
          </mat-card-content>
        </mat-card>
      </a>
      <a>
        <h2>Anomalía de Ley</h2>
        <p> {{anomalia}} </p>
        <button mat-raised-button color="accent" [cdkCopyToClipboard]="anomalia">Copiar</button>
      </a>
      <a>
        <h2>Convergencia Pública</h2>
        <mat-card class="result">
          <mat-card-content>
            <section class="example-section">
              <mat-checkbox
                  class="example-margin"
                  [(ngModel)]="dailyIdsHeroChoiceChestConvergenceChecked"
                  [(indeterminate)]="indeterminate"
                  [labelPosition]="labelPosition"
                  [class.mat-checkbox-disabled]="false"
                  disabled>
                  {{dailyHeroChoiceConvergenceChesting}}
              </mat-checkbox>
            </section>
          </mat-card-content>
        </mat-card>
        <p *ngIf="!loadingConvergenciaSoto100 && !loadingConvergenciaSoto150">SOTO: {{convergenciaSoto100[0].current}}/{{convergenciaSoto100[0].max}}    -   {{convergenciaSoto150[0].current}}/{{convergenciaSoto150[0].max}} ({{convergenciaSoto150[0].repeated}}) </p>
        <p *ngIf="!loadingConvergenciaJw50 && !loadingConvergenciaJw50Rep">JW: {{convergenciaJw50[0].current}}/{{convergenciaJw50[0].max}}   -   {{convergenciaJw50Rep[0].current}}/{{convergenciaJw50Rep[0].max}}</p>
        <p> {{convergenciaSoto}} </p>
        <p> {{convergenciaJw}} </p>
        <button mat-raised-button color="accent" [cdkCopyToClipboard]="convergenciaCopy">Copiar</button>
      </a>
      <a>
        <h2>Cofres META</h2>
        <p></p>
        <mat-card class="result" *ngFor="let dailyChest of dailyHeroChoiceChesting; let i = index">
          <mat-card-content>
            <section class="example-section">
              <mat-checkbox
                  class="example-margin"
                  [(ngModel)]="dailyIdsHeroChoiceChestChecked[i]"
                  [(indeterminate)]="indeterminate"
                  [labelPosition]="labelPosition"
                  [class.mat-checkbox-disabled]="false"
                  disabled>
                  {{dailyChest}}
              </mat-checkbox>
            </section>
          </mat-card-content>
        </mat-card>
      </a>
      <a *ngIf="!loading2">
        <h2>Misión de ataque</h2>
        <p *ngFor="let strike of dailyInfoF.strike; let i = index">
          id = {{strike.id}}
          <br>
          {{strike.name}}
          <!-- <br>
          {{strike.requirement}} -->
        </p>
        <!-- <img mat-card-image src={{dailyInfoF.strike[0].icon}}> -->
        <img mat-card-image src={{dailyStrikeIcon}}>
      </a>
      <a>
        <h2>Actividad diaria</h2>
        <p> {{dailyActivity}} </p>
        <button mat-raised-button color="accent" [cdkCopyToClipboard]="dailyActivity">Copiar</button>
      </a>
      <a *ngIf="recordatorio.ok">
        <h2>RECORDATORIO</h2>
        <!-- <p> {{recordatorio.message}} </p> -->
        <div [innerText]='recordatorio.message'></div>
      </a>
    </div>
  </mat-tab>
</mat-tab-group>