<h2>Héroes</h2>
<mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>
<div class="cabecera">
    {{heroes.length}} personajes
</div>
<br>
<table mat-table [dataSource]="dataSource" matSort matSortActive="freeSpace" matSortDirection="desc" class="mat-elevation-z8" [hidden]="loading">            
    <!-- name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let character"> 
            {{character.name}} 
        </td>
    </ng-container>

    <!-- race Column -->
    <ng-container matColumnDef="race">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Raza </th>
        <td mat-cell *matCellDef="let character"> 
            {{character.race}} 
        </td>
    </ng-container>

    <!-- profession Column -->
    <ng-container matColumnDef="profession">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Profesión </th>
        <td mat-cell *matCellDef="let character"> 
            {{character.profession}} 
        </td>
    </ng-container>

    <!-- espec Column
    <ng-container matColumnDef="espec">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Espec </th>
        <td mat-cell *matCellDef="let character"> 
            <ng-container *ngFor="let esp of character.espec">
                {{esp}}  
                <br /> Use br if you want to display the roles vertically
            </ng-container>
        </td>
    </ng-container> -->

    <!-- espec Column -->
    <ng-container matColumnDef="espec">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Espec </th>
    <td mat-cell *matCellDef="let character"> 
        {{character.espec}}
    </td>
    </ng-container>

    <!-- crafting Column -->
    <ng-container matColumnDef="crafting">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Artesanía </th>
        <td mat-cell *matCellDef="let character"> 
            <ng-container *ngFor="let art of character.crafting">
                {{art.discipline}} {{art.rating}}
                <br /> <!-- Use br if you want to display the roles vertically -->
            </ng-container>
        </td>
    </ng-container>

    <!-- robotJade Column -->
    <ng-container matColumnDef="robotJade">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Robot Jade </th>
        <td mat-cell *matCellDef="let character"> 
            {{character.robotJade}}  
        </td>
    </ng-container>

    <!-- trophyProtocol Column -->
    <ng-container matColumnDef="trophyProtocol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Chip Protocolo </th>
        <td mat-cell *matCellDef="let character"> 
            {{character.trophyProtocol}}  
        </td>
    </ng-container>

    <!-- freeSpace Column -->
    <ng-container matColumnDef="freeSpace">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Espacio Libre </th>
        <td mat-cell *matCellDef="let character"> 
            {{character.freeSpace}}  
        </td>
    </ng-container>

    <!-- diasCumple Column -->
    <ng-container matColumnDef="diasCumple">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Dias Sig. Cumpleaños </th>
        <td mat-cell *matCellDef="let character"> 
            {{character.diasCumple}} ({{character.numeroAnosCumple}}º)
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="viewHero(row)"></tr>
    <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="'heroes/detail/' + row.name"></tr> -->

</table>