<div class="enlaces">

    <a href="https://gw2timer.com/" target="_blank" rel="noopener noreferrer" style="text-decoration: none">
        <button mat-button>gw2timer</button>
    </a>

    <a href="https://wiki.guildwars2.com/wiki/Event_timers" target="_blank" rel="noopener noreferrer" style="text-decoration: none">
        <button mat-button>gw2 event timers</button>
    </a>

    <a href="https://gw2efficiency.com" target="_blank" rel="noopener noreferrer" style="text-decoration: none">
        <button mat-button>gw2efficiency</button>
    </a>

    <a href="https://www.gw2bltc.com" target="_blank" rel="noopener noreferrer" style="text-decoration: none">
        <button mat-button>gw2BLTC</button>
    </a>

    <a href="https://en-forum.guildwars2.com/forum/6-game-update-notes/" target="_blank" rel="noopener noreferrer" style="text-decoration: none">
        <button mat-button>Notas de actualización (Foro Gw2 EN)</button>
    </a>

    <a href="https://www.gw2waypoints.com/" target="_blank" rel="noopener noreferrer" style="text-decoration: none">
        <button mat-button>Buscar Waypoints</button>
    </a>

    <a href="https://status.gw2efficiency.com/" target="_blank" rel="noopener noreferrer" style="text-decoration: none">
        <button mat-button>Status API</button>
    </a>

    <a href="https://wiki.guildwars2.com/wiki/API:Main" target="_blank" rel="noopener noreferrer" style="text-decoration: none">
        <button mat-button>API v2 wiki</button>
    </a>

    <a href="https://wiki.guildwars2.com/wiki/Gem_Store/March_Sale" target="_blank" rel="noopener noreferrer" style="text-decoration: none">
        <button mat-button>Rebajas Marzo</button>
    </a>

    <a href="https://wiki.guildwars2.com/wiki/Gem_Store/Anniversary_Sales" target="_blank" rel="noopener noreferrer" style="text-decoration: none">
        <button mat-button>Rebajas Aniversario</button>
    </a>

    <a href="https://gw2.ninja/wvw/map" target="_blank" rel="noopener noreferrer" style="text-decoration: none">
        <button mat-button>Mapa WvW en tiempo real</button>
    </a>

    <a href="https://www.deltaconnected.com/arcdps/" target="_blank" rel="noopener noreferrer" style="text-decoration: none">
        <button mat-button>ARC DPS</button>
    </a>

    <a href="http://tekkitsworkshop.net/index.php/gw2-taco/download" target="_blank" rel="noopener noreferrer" style="text-decoration: none">
        <button mat-button>Tekkits TACO</button>
    </a>

    <a href="https://wiki.guildwars2.com/wiki/Guild_Trek" target="_blank" rel="noopener noreferrer" style="text-decoration: none">
        <button mat-button>Travesías CLAN</button>
    </a>

</div>